@page "/growth-formula"

<PageTitle>植物工厂监控系统 - 植物生长配方管理</PageTitle>

<h3>植物生长配方管理</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>植物名称</th>
			<th>空气参数</th>		
			<th>营养液配比</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>生菜</td>
			<td>18-22</td>			
			<td>N:P:K = 10:10:10</td>
			<td>
				<button class="btn btn-sm btn-info">编辑</button>
				<button class="btn btn-sm btn-danger">删除</button>
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td>番茄</td>
			<td>20-25</td>			
			<td>N:P:K = 15:5:20</td>
			<td>
				<button class="btn btn-sm btn-info">编辑</button>
				<button class="btn btn-sm btn-danger">删除</button>
			</td>
		</tr>
	</tbody>
</table>

@code {

}
