@page "/outbound"

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>层数</th>
            <th>列数</th>
            <th>托盘数</th>
            <th>产量</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>5</td>
            <td>10</td>
            <td>50</td>
            <td>200 kg</td>
        </tr>
        <tr>
            <td>2</td>
            <td>6</td>
            <td>12</td>
            <td>72</td>
            <td>300 kg</td>
        </tr>
        </tbody>
</table>
@code {

}
